header {
    background-color: #3498db;
    padding: 1rem;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.nav-links {
    list-style: none;
    display: flex;
}
  
.nav-links li {
    margin-left: 2rem;
}
  
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 30px;
}
  
.nav-links a:hover {
    color: #f1c40f;
}
  
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
  
.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    margin-right: 30px;
}
/* Contact Section */
.contact-section {
    padding: 3rem 2rem;
    background-color: #f4f4f4;
}
  
.contact-section h1 {
    text-align: center;
    background-color: #3498db;
    border-radius: 50px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #fff;
}
  
.contact-section p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666;
}
  
form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
  
.form-group {
    margin-bottom: 1.5rem;
}
  
label {
    font-weight: bold;
}
  
input, textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    padding: 0.75rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
button:hover {
    background-color: #2980b9;
}
  
#responseMessage {
    margin-top: 1.5rem;
    text-align: center;
    color: #333;
}

footer {
    background-color: #3498db;
    padding: 1rem;
    text-align: center;
    color: #fff;
}
  
  /* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #3498db;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        padding: 1rem;
    }
    
    .nav-links.active {
        display: flex;
    }
    
    .nav-links li {
        margin: 1.5rem 0;
        text-align: center;
    }
    
    .hamburger {
        display: flex;
    }
}
  