:root {
    --primary-color: #006400; /* Main color for your design */
    --secondary-color: rgba(255, 255, 255, 0.9); /* Secondary color for backgrounds */
    --font-size: 16px;
}
/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #006400;
    color: white;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

.hero {
    position: relative;
    height: 560px;
    width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2); /* Dark transparent overlay */
    color: white;
}

.weather {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    bottom: 20px;
    right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    position: absolute;
    max-width: 400px;
    z-index: 3;
    margin-top: 25px;
}

.country-data {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    top: 20px;
    left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    position: absolute;
    z-index: 3;
    max-width: 400px;
    margin-bottom: 25px;
}

h2 {
    color: #006400;
    text-align: center;
}

h2::after {
    font-size: 1.2em; /* Slightly larger than the heading */
    vertical-align: middle; /* Align with text */
}

.weather p, .country-data p {
    margin: 5px 0;
    font-size: 1.1em;
    color: black;
}

.weather img {
    width: 40px;
    height: auto;
}

/* Media Queries */
@media (min-width: 1024px) {
    .overlay {
        flex-direction: row; /* Switch to row layout for larger screens */
        justify-content: space-between; /* Space between sections */
    }

    .weather, .country-data {
        width: 50%; /* Allow for two sections side by side */
        margin: 0; /* Remove margin for side by side layout */
    }
}

@media (max-width: 600px) {
    .overlay {
        flex-direction: column; /* Stack vertically on smaller screens */
        align-items: center; /* Center align items */
        justify-content: center;
    }

    .weather, .country-data {
        width: 90%; /* Use 90% width for better spacing on mobile */
        margin: 10px 0;
        justify-content: center;
        align-items: center;
    }
}

footer {
    text-align: center;
    background-color: #006400;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
