@import url('temples.css');


@media (min-width: 601px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        gap: 1.5rem;
    }

 
    main {
        max-width: 1200px; 
    }

    .hamburger {
        display: none; /* Hide hamburger on larger screens */
    }

    nav ul {
        display: flex; /* Show normal nav links */
    }

    header {
        gap: 900px;
    }
}
